---
title: "This month's news from Maizzle"
---

{% block template %}

<table class="wrapper w-full all-font-sans">
  <tr>
    <td align="center" class="bg-gray-200 align-middle">
      <table class="w-600 sm-w-full">
        <tr>
          <td class="py-48 sm-py-32 text-center">
            <a href="https://maizzle.com">
              <img src="images/maizzle.png" width="75" alt="Maizzle">
            </a>
          </td>
        </tr>
        <tr>
          <td align="center" class="sm-px-24">
            <table class="w-full">
              <tr>
                <td class="bg-gray-100 text-gray-900 text-base p-48 sm-px-24 leading-24 rounded-lg">
                  <p class="text-xl text-black font-semibold m-0">Hey John!</p>
                  <p>Welcome to this month's Maizzle newsletter.</p>
                  <p><strong>Deflector</strong> power at maximum. Energy discharge in six seconds. Warp reactor core primary coolant failure. Fluctuate phaser resonance frequencies. Resistance is futile. Recommend we adjust shield harmonics to the upper EM band when proceeding. These appear to be some kind of power-wave-guide conduits which allow them to work collectively as they perform ship functions. Increase deflector modulation to upper frequency band.</p>
                  <p><strong>Run</strong> a manual sweep of anomalous airborne or electromagnetic readings. Radiation levels in our atmosphere have increased by 3,000 percent. Electromagnetic and subspace wave fronts approaching synchronization. What is the strength of the ship's deflector shields at maximum output? The wormhole's size and short period would make this a local phenomenon. Do you have sufficient data to compile a holographic simulation?</p>
                  <p><strong>It indicates</strong> a synchronic distortion in the areas emanating triolic waves. The cerebellum, the cerebral cortex, the brain stem,  the entire nervous system has been depleted of electrochemical energy. Any device like that would produce high levels of triolic waves. These walls have undergone some kind of selective molecular polarization. I haven't determined if our phaser energy can generate a stable field. We could alter the photons with phase discriminators.</p>
                  <p><em>Resistance is futile.</em></p>
                </td>
              </tr>
              <tr>
                <td class="h-32"></td>
              </tr>
              <tr>
                <td class="px-48 sm-px-24">
                  <table class="w-full">
                    <tr>
                      <td class="w-1-4 sm-w-full sm-inline-block sm-text-center sm-pb-16">
                        <a href="https://maizzle.com">
                          <img class="rounded-full w-96" src="https://images.unsplash.com/photo-1507120878965-54b2d3939100?ixlib=rb-0.3.5&q=80&fm=jpg&crop=top&cs=tinysrgb&w=192&h=192&fit=crop&s=99fbace66d1bfa48c9c6dc8afcac3aab" alt="Elias Ryker">
                        </a>
                      </td>
                      <td class="w-3-4 sm-w-full sm-inline-block sm-text-center">
                        <p class="m-0 text-lg text-black">Will Ryker</p>
                        <a href="https://maizzle.com" class="text-gray-600 no-underline">@willryker</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="h-48"></td>
              </tr>
              <tr>
                <td class="text-center text-gray-600 text-xs p-32">
                  <p class="m-0 mb-4 uppercase">Powered by Maizzle</p>
                  <p class="m-0 italic">The framework for rapid email prototyping</p>
                  <p class="cursor-default">
                    <a href="https://maizzle.com" class="text-blue-500 no-underline hover-underline">Unsubscribe</a> &bull;
                   {% include "src/partials/footer-links.njk" %}
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

{% endblock %}

