---
title: "The Website Weekly Newsletter"
preheader: "👀 Lorem, ipsum, and much dolor in this week's edition."
image: https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80
bodyClass: bg-slate-50
---

<x-main>
  <div class="bg-slate-50 sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[600px] max-w-full">
          <table class="w-full">
            <tr>
              <td class="p-12 sm:py-8 sm:px-6 text-center">
                <a href="https://maizzle.com">
                  <img src="images/maizzle.png" width="70" alt="Maizzle">
                </a>
              </td>
            </tr>
            <tr>
              <td
                class="bg-top bg-no-repeat bg-cover rounded text-left"
                style="background-image: url('{{{ page.image }}}');"
              >
                <x-v-fill image="{{{ page.image }}}">
                  <x-spacer class="leading-16 sm:leading-8" />

                  <table class="w-full">
                    <tr>
                      <td class="w-12 sm:w-6"></td>
                      <td>
                        <h1 class="m-0 mb-4 text-4xl sm:text-3xl text-white sm:leading-10">
                          Lorem ipsum dolor
                        </h1>

                        <p class="m-0 text-white text-lg leading-6">
                          Consectetur esse cupidatat in aliqua pariatur anim pariatur dolor nisi. Adipisicing elit
                          labore nisi ullamco qui sint cillum commodo nisi velit sunt dolore.
                        </p>

                        <x-spacer class="leading-16 sm:leading-8" />

                        <x-button href="https://example.com">
                          Read more &rarr;
                        </x-button>
                      </td>
                      <td class="w-12 sm:w-6"></td>
                    </tr>
                  </table>

                  <x-spacer class="leading-16 sm:leading-8" />
                </x-v-fill>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-8">&zwj;</td>
            </tr>
            <tr>
              <td class="w-full px-6 sm:px-0 text-left">
                <table class="w-full">
                  <tr>
                    <td class="pb-8">
                      <table class="w-full">
                        <tr>
                          <td class="p-6 bg-white rounded shadow-sm">
                            <p class="m-0 mb-1 text-sm text-slate-500">
                              2 Feb, 2020
                            </p>

                            <h2 class="m-0 mb-6 text-2xl leading-6">
                              Sit aliqua reprehenderit qui veniam culpa.
                            </h2>

                            <p class="m-0 mb-6 text-base text-slate-700">
                              Ex consequat deserunt id cupidatat exercitation irure commodo. Dolor et est irure elit
                              cupidatat laborum veniam amet eiusmod Lorem ex ea do aliqua. Ipsum Lorem nulla sit aliqua
                              quis veniam magna...
                            </p>

                            <a
                              href="https://example.com"
                              class="text-base text-indigo-700 hover:text-indigo-500 [text-decoration:none]"
                            >
                              Read more &rarr;
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="p-0 px-6 sm:px-0 text-left">
                <table class="w-full">
                  <tr>
                    <td class="w-1/2 pr-4 sm:px-0 sm:pb-8 sm:w-full sm:inline-block align-top">
                      <table class="w-full">
                        <tr>
                          <td class="p-6 bg-white rounded shadow-sm">
                            <p class="m-0 mb-1 text-sm text-slate-500">
                              3 Feb, 2020
                            </p>

                            <h2 class="m-0 mb-6 text-2xl leading-6">
                              Do ullamco reprehenderit ut dolor.
                            </h2>

                            <p class="m-0 mb-6 text-base text-slate-700">
                              Consectetur veniam ipsum ea sit est do voluptate laboris...
                            </p>

                            <a
                              href="https://example.com"
                              class="text-base text-indigo-700 hover:text-indigo-500 [text-decoration:none]"
                            >
                              Read more &rarr;
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td class="w-1/2 pl-4 sm:px-0 sm:w-full sm:inline-block align-top">
                      <table class="w-full">
                        <tr>
                          <td class="p-6 bg-white rounded shadow-sm">
                            <p class="m-0 mb-1 text-sm text-slate-500">
                              4 Feb, 2020
                            </p>

                            <h2 class="m-0 mb-6 text-2xl leading-6">
                              Sunt in do sunt officia nisi enim qui eiusmod.
                            </h2>

                            <p class="m-0 mb-6 text-base text-slate-700">
                              Nulla officia mollit ipsum eiusmod excepteur ea...
                            </p>

                            <a
                              href="https://example.com"
                              class="text-base text-indigo-700 hover:text-indigo-500 [text-decoration:none]"
                            >
                              Read more &rarr;
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-16 sm:leading-8">&zwj;</td>
            </tr>
            <tr>
              <td class="px-12 sm:px-6 text-left">
                <h3 class="m-0 text-base font-semibold text-slate-600 uppercase">
                  From the archives
                </h3>

                <x-spacer height="24px" />

                <table class="w-full">
                  <tr>
                    <td>
                      <h4 class="m-0 mb-1 text-xl font-semibold">
                        <a
                          href="https://example.com"
                          class="text-indigo-700 hover:text-indigo-500 [text-decoration:none]"
                        >
                          Lorem velit tempor qui
                        </a>
                      </h4>

                      <p class="m-0 text-slate-500">
                        Aliquip excepteur sint voluptate Lorem nisi deserunt consequat...
                      </p>

                      <x-divider space-y="24px" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h4 class="m-0 mb-1 text-xl font-semibold">
                        <a
                          href="https://example.com"
                          class="text-indigo-700 hover:text-indigo-500 [text-decoration:none]"
                        >
                          Lorem velit tempor qui
                        </a>
                      </h4>

                      <p class="m-0 text-slate-500">
                        Aliquip excepteur sint voluptate Lorem nisi deserunt consequat...
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-16 sm:leading-8">&zwj;</td>
            </tr>
            <tr>
              <td class="px-12 sm:px-6 py-4 bg-white rounded text-left shadow-sm">
                <p class="m-0 text-sm text-slate-500">
                  You are receiving this email because you signed up for Website Newsletter Weekly. You may
                  <a href="https://example.com" class="text-indigo-700 [text-decoration:none] hover:![text-decoration:underline]">unsubscribe</a>
                  at any time.
                </p>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-12 sm:leading-8">&zwj;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
