/*! purgecss start ignore */
body {
  @apply m-0 p-0 w-full;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
}

img {
  border: 0;
  @apply max-w-full leading-full align-middle;
}
/*! purgecss end ignore */
