/*! purgecss start ignore */
@screen all {
  img {
    @apply max-w-full;
  }

  td, th {
    box-sizing: border-box;
  }
}

@screen sm {
  u ~ div .wrapper {
    @apply min-w-screen;
  }
}

body {
  box-sizing: border-box;
  @apply m-0 p-0 w-full;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
}

img {
  border: 0;
  @apply leading-full align-middle;
}
/*! purgecss end ignore */
