<a href="https://maizzle.com/docs/" class="text-blue-500 no-underline hover-underline">Docs</a> &bull;
<a href="https://github.com/maizzle" class="text-blue-500 no-underline hover-underline">Github</a> &bull;
<a href="https://twitter.com/maizzlejs" class="text-blue-500 no-underline hover-underline">Twitter</a>
